.movie-section {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.movie-title {
  font-size: 3rem;
  font-style: italic;
}

.movie-info {
  margin: auto;
  width: 50%;
  min-width: 230px;
  margin-bottom: 2rem;
}

.movie-info-item {
  font-size: 2rem;
  text-align: left;
  font-style: italic;
}

.movie-poster {
  margin: auto;
  width: 50%;
  min-width: 230px;
  max-width: 300px;
}

.movie-preview {
  font-style: italic;
  width: 500px;
  height: 400px;
  margin: auto;
}

.movie-preview h6 {
  font-size: 2rem;
  text-align: center;
}

.addtocart-button {
  border: transparent;
  color: #fff;
  background-color: #000;
  font-size: 2rem;
  border-radius: 10px;
  padding: 0.3rem 1rem;
  margin-top: 1rem;
}

.addtocart-button:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .movie-section {
    width: 90%;
    margin: auto;
  }

  .movie-info-item {
    font-size: 1rem;
    text-align: left;
  }

  .movie-title {
    font-size: 2rem;
    font-style: italic;
    text-align: center;
  }

  .movie-preview {
    height: 200px;
    width: 300px;
  }
}
