body {
  height: 100%;
  width: 100%;
}

.App {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.pure-button {
  background: transparent;
  border: none;
}

body * {
  cursor: default;
}

button:focus {
  outline: none;
}
