.lognform {
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.login-form-button {
  width: 100%;
  margin-top: 1rem;
}

.ant-modal-footer {
  display: none !important;
}

.signup-link {
  text-align: center;
  margin-top: 1rem;
}
